.cabecera {
  background-color: $naranja!important;
  @for $i from 1 through 6 {
    h#{$i} {
        color: $rojo;
    }
}
}
.pie {
  span{
    color: $blanco;
  }
  background-color: $naranja!important;
}
.formulario{
  background-color: $verde !important;
  input[type=submit]{
    background-color: $azul;
    color: black;
    :hover{
      background-color: $azul_encendido;
    }
  }
}
.nav {
  background-color: $amarillo !important;
}
.info {
  background-color: $blanco !important;
}
