.cabecera {
  background-color: $verde !important;
  @for $i from 1 through 6 {
    h#{$i} {
        color: $rojo;
    }
}
}
.pie {
  span{
    color: $blanco;
  }
  background-color: $verde !important;
}
.formulario{
  background-color: $naranja !important;
}
.nav {
  background-color: $amarillo !important;
}
