<header class="sticky-top flex-md-nowrap p-0 text-light user-select-none cabecera">
  <div class="d-flex bd-highlight align-items-center">
    <div class="me-auto p-2">
      <a href="#">
        <img height="50" src="{{logo}}" alt="Logo de la página">
      </a>
    </div>
    <h1 class="me-auto p-2">
      CITIC
    </h1>
    <div class="p-2">
      <div class="text-end ps-3">
        <div class="dropdown text-end">
          <a routerLink="user/editar-perfil" class="d-block link-light text-decoration-none" aria-expanded="false">
            <img src="https://picsum.photos/200" alt="mdo" width="32" height="32" class="rounded-circle">
          </a>
        </div>
      </div>
    </div>
  </div>
</header>
