<div class="row">
  <div class="col-12">
    <h1 class="modal-title">Edición de perfil</h1>
  </div>
  <div class="col-12">
    <form [formGroup]="editar" (ngSubmit)="onSubmit()" class="row">
      <div class="mb-3 col-6">
        <label for="pass1" class="form-label"><b>Contraseña</b></label>
        <input type="password" formControlName="pass1" class="form-control" id="pass1"
          pattern="((?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,30})">
        <div *ngIf="submitted && formulario['pass1'].errors">
          <div *ngIf="formulario['pass1'].errors['required']"
            class="h6 text-danger bg-white rounded border border-2 border-danger p-2">La contraseña no puede estar
            vacía.</div>
          <div *ngIf="formulario['pass1'].errors['minlength']"
            class="h6 text-danger bg-white rounded border border-2 border-danger p-2">La contraseña debe tener mínimo 8
            carácteres.</div>
          <div *ngIf="formulario['pass1'].errors['pattern']"
            class="h6 text-danger bg-white rounded border border-2 border-danger p-2">La contraseña debe tener una
            minúscula, una mayúscula y un número.</div>
          <div *ngIf="formulario['pass1'].errors['maxlength']"
            class="h6 text-danger bg-white rounded border border-2 border-danger p-2">La contraseña puede tener como
            máximo 30 carácteres.</div>
        </div>
      </div>
      <div class="mb-3 col-6">
        <label for="pass2" class="form-label"><b>Repite la contraseña</b></label>
        <input type="password" formControlName="pass2" class="form-control" id="pass2">
        <div *ngIf="submitted && formulario['pass2'].errors">
          <div *ngIf="formulario['pass2'].errors['required']"
            class="h6 text-danger bg-white rounded border border-2 border-danger p-2">La contraseña no puede estar
            vacía.</div>
          <div *ngIf="formulario['pass2'].errors['NoPassswordMatch']"
            class="h6 text-danger bg-white rounded border border-2 border-danger p-2">Las contraseñas no coinciden.
          </div>
        </div>
      </div>
      <button type="submit" class="btn btn-primary" value="editar">Cambiar cotraseña</button>
    </form>
  </div>
</div>
